.main{
    // direction: rtl;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .box{
        width: 30%;
        min-width: 330px;
        min-height: 70%;
        height: fit-content;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        .title{
            width: 100%;
            text-align: center;
            padding: 20px 0;
        }
        .input-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
        }
        p{
            color: green;
            text-align: center;
            padding: 10px;
        }
    }
}
button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.submit{
    width: 80%;
}
.padding-right{
    padding-right: 10%;
    padding-top: 15px;
}
.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    img {
        width: 150px;
    }
}
.success{
    text-align: center;
    padding: 30px 0;
    color: green;
}
.strength-validators{
    width: 100%;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    .bars{
        width: 28%;
        height: 3px;
        background-color: rgba(128, 128, 128 , 0.5);
        border-radius: 5px;
    }
    .red{
        background-color: red;
    }
    .yellow{
        background-color: rgb(232,186,41);
    }
    .green{
        background-color: rgb(0, 128, 0);
    }
}