<div class="main">

    <div class="box" *ngIf="step == 1">
        <a class="logo" [routerLink]="['']">
            <!-- <mat-icon style="margin-bottom: 20px;">image</mat-icon> -->
            <img src="../assets/img/Center align_01.png" alt="">
        </a>
        <div class="title">
            فراموشی کلمه عبور
        </div>
    <form [formGroup]="passwordForm">
            <div class="input-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label for="input"> کلمه عبور جدید</mat-label>
                    <input matInput type="password"  formControlName="password" [type]=" hide ? 'password' : 'text' "  required autofocus>
                    <button mat-icon-button matSuffix (click)=" hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-password]="hide">
                        <mat-icon> {{hide ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                    
                </mat-form-field>     
            </div>

            <div class="input-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label for="input" >تکرار کلمه عبور جدید</mat-label>
                    <input matInput type="password" formControlName="repeatPassword" [type]=" hide2 ? 'password' : 'text' "  required>
                    <button mat-icon-button matSuffix (click)=" hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-password]="hide">
                        <mat-icon> {{hide2 ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                </mat-form-field>     
            </div>

            <div class="strength-validators" *ngIf="passwordForm">
                <!-- {{checkStrength(passwordForm.value.password)}} -->
                <div class="bars" [ngClass]=" checkStrength(passwordForm.value.password) <= 10 ? 'red' : (checkStrength(passwordForm.value.password) <= 30 ? 'yellow' : 'green' ) "></div>
                <div class="bars" [ngClass]= "checkStrength(passwordForm.value.password) <= 10 ? '' : (checkStrength(passwordForm.value.password) <= 30 ? 'yellow' : 'green' )"></div>
                <div class="bars" [ngClass]="checkStrength(passwordForm.value.password) == 40 ? 'green' : ''"></div>
                <ng-container [ngSwitch]="checkStrength(passwordForm.value.password)">
                    <span *ngSwitchCase="10">ضعیف</span>
                    <span *ngSwitchCase="20">متوسط</span>
                    <span *ngSwitchCase="30">متوسط</span>
                    <span *ngSwitchCase="40">قوی</span>
                </ng-container>
            </div>

            <div class="input-wrapper">
                <button class="submit" mat-raised-button color="primary" (click)="sendPass()">ارسال کلمه عبور</button>
            </div>
            
    </form>  
        <mat-error class="padding-right">
            {{error}}
        </mat-error>
        <mat-error *ngIf="passwordForm.get('password').hasError('minlength')" class="padding-right">
            کلمه عبور انتخاب شده باید حداقل شامل ۸ کاراکتر باشد.
         </mat-error>
         <mat-error *ngIf="passwordForm.get('password').hasError('pattern')" class="padding-right">
            کلمه عبور انتخابی باید تنها شامل حروف و ارقام انگلیسی باشد.
         </mat-error>
        <mat-error *ngIf="codeError == '6' " class="padding-right">
            فرآیند بازیابی کلمه عبور منقضی شده‌است
        </mat-error>
        <mat-error *ngIf="codeError == '7' " class="padding-right">
            کلمه عبور انتخاب شده باید حداقل شامل ۸ کاراکتر باشد.
        </mat-error>
        <mat-error *ngIf="codeError == '8' " class="padding-right">
            کلمه عبور انتخابی باید تنها شامل حروف و ارقام انگلیسی باشد
        </mat-error>
        <mat-error *ngIf="codeError == '78'" class="padding-right">
            کلمه عبور انتخاب شده باید حداقل شامل ۸ کاراکتر باشد.
            کلمه عبور انتخابی باید تنها شامل حروف و ارقام انگلیسی باشد
         </mat-error>
         <div class="success"> {{success_msg}} </div>
    </div>

    <div class="box" *ngIf="step == 2">
        <a class="logo" [routerLink]="['']">
            <!-- <mat-icon style="margin-bottom: 20px;">image</mat-icon> -->
            <img src="../assets/img/Center align_01.png" alt="">
        </a>
        <div class="title">
            فراموشی کلمه عبور
        </div>
         <div class="success"> {{success_msg}} </div>
         <div class="input-wrapper">
            <button class="submit" mat-raised-button color="primary" [routerLink]="['/login']">ورود مجدد</button>
        </div>
        
    </div>
</div>