<main>
    <div class="filters">
        <button mat-raised-button color="primary" type="button" (click)="showSearch = !showSearch">جستجو</button> 
        <form [formGroup]="filtersForm" (ngSubmit)="filter()">
           <div class="input-wrapper">
            <dp-date-picker 
                dir="rtl"
                formControlName="from"
                mode="day"
                placeholder="از تاریخ"
                theme="dp-material">
            </dp-date-picker>   
           </div> 
           <div class="input-wrapper">
                <dp-date-picker 
                dir="rtl"
                formControlName="until"
                mode="day"
                placeholder="تا تاریخ"
                theme="dp-material">
                </dp-date-picker>      
           </div>
            <button mat-raised-button color="primary" type="submit">فیلتر</button>    
        </form>
        <button mat-raised-button color="primary" type="button" (click)="reset()">ریست</button>
        </div>
    <div class="table-container">
    <table class="table">
    <tr>
        <th>ردیف</th>
        <th>عنوان</th>
        <th style="text-align: center;">تاریخ ایجاد</th>
        <th>متن</th>
        <th></th>
    </tr>

    <tr style="height:auto !important;"  [ngClass]=" showSearch ? 'show' : 'hide' " >
        <td colspan="5">
            <form [formGroup]="searchForm" (ngSubmit)="search()" class="search-form">

                <input type="text" formControlName="title" placeholder="جستجو در عناوین">
                <input type="text" formControlName="body" placeholder="جستحو در متن‌ها">
                <button mat-raised-button color="primary" type="submit">جستجو</button> 
            </form>
        </td>
    </tr>

<ng-container *ngFor="let element of survillanceMessages , index as i ">
    <tr [ngClass]=" element.showMessage ? 'open-msg' : '' " [ngClass]=" element.seen ? '' : 'unseen' ">
        <td style="text-align: center;"> {{(currentPage-1)*10+i+1}} </td>
        <td class="cutText"> {{element?.title}} </td>
        <td style="text-align: center;"> {{persianDate(element?.datetime)}} </td>
        <td class="cutText"> {{element?.body}} </td>
        <td (click)="seenMessage(element) ; element.showMessage = !element.showMessage">
            <mat-icon class="arrow" [ngClass]=" element.showMessage ? 'turn' : '' ">keyboard_arrow_down</mat-icon>
        </td>
    </tr>

    <tr style="height:auto !important;"  [ngClass]=" element.showMessage ? 'show' : 'hide' " >
        <td colspan="5">
            <div class="msg-box">
                <div class="title">
                    {{element?.title}}
                </div>
                <div class="body">
                    {{element?.body}}
                </div>
            </div>
        </td>

    </tr>
</ng-container>
    </table>
     
</div>
<div class="pagination">
        <span >
            <mat-icon class="arrow" (click)="goTofirstPage()">skip_next</mat-icon>
        </span>
        <span class="arrow" (click)="previousPage()">
            <mat-icon>navigate_next</mat-icon>
        </span>
        <div class="text">
            صفحه
            {{currentPage}}
            از
            {{lastPage}}
        </div>
        <span>
            <mat-icon class="arrow" (click)="nextPage()">navigate_before</mat-icon>
        </span>
        <span>
            <mat-icon class="arrow" (click)="goToLastPage()">skip_previous</mat-icon>
        </span>
</div>
</main>