// @import 'variables';
// @import 'mixin';
@import 'src/styles/fonts';
$dark-purple : #1B1e2e ;
*{
    box-sizing: border-box;
}
a{
    color: black;
}
.body{
    height: 100vh !important;
    overflow-y: hidden !important;
    background-color: grey;
}
.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .box {
        width: 30%;
        min-width: 330px;
        height: 70%;
        max-height: 500px;
        min-height: 430px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        .title {
            width: 100%;
            text-align: center;
            padding-top: 20px;
        }
        .input-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            img {
                width: 30%;
                height: 50px;
                border: 1px solid #E0E0E0;
            }
            input[type="number"] {
                width: 40%;
                border: 1px solid #E0E0E0;
                -moz-appearance: textfield;
            }
        }
        form {
            padding-top: 30px;
        }
    }
    .refresh {
        border: 1px solid #E0E0E0;
        width: 10%;
    }
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.submit {
    width: 80%;
}

.error {
    width: 100%;
    padding: 10px 10%;
    text-align: right;
}

.icon {
    position: absolute;
    left: 2%;
    top: 20%;
    cursor: pointer;
    z-index: 0;
}

.forget {
    display: block;
    width: 12rem;
    padding: 10px 1rem;
    text-align: right;
    position: absolute;
    right: 0;
    margin-right: 8%;
}

.simple-keyboard {
    max-width: 850px;
    position: absolute;
    bottom: 0;
}

.keyboard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type='text'] {
    width: 80%;
    //   margin: 10px 0;
    direction: rtl;
}

.padding-right {
    padding-right: 10%;
    font-size: 16px;
}

.info {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 0.5px solid gray;
}

.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    img {
        width: 150px;
    }
}

.links {
    width: 100%;
    height: 30px;
    padding: 0 5%;
    position: absolute;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down {
    transform: translateY(240px);
}

.up {
    transform: translateY(0px);
}

.visibility {
    position: absolute !important;
    left: 13%;
    top: 23%;
    cursor: pointer;
}
.red{
    border: 2px solid rgb(244,67,54) !important;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
input:focus{
    outline: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.code{
    min-height: 50px !important;
}
.rules-text{
    text-align: justify;
}