<div class="body">
<div class="main">
    <div class="box info" style="direction: rtl;">
        <div class="logo">
            <!-- <mat-icon style="margin-bottom: 20px;">image</mat-icon> -->
            <img src="../../assets/img/Center align_01.png" alt="">
        </div>
        <p class="rules-text"> 
            کارگزاری هزاره پردازش با استفاده از پروتکل امن SSL به مشتریان خود ارائه خدمت نموده و با آدرس <a href="https://broker.millenniumop.ir/">www.broker.millenniumop.ir</a> شروع می شود.
            <br> لطفا پیش از ورود هرگونه اطلاعات، آدرس موجود در بخش مرورگر وب خود را با آدرس فوق مقایسه نمایید و درصورت مشاهده هر نوع مغایرت احتمالی، از ادامه کار منصرف شده و موضوع را با ما در میان بگذارید. برای حفاظت از اطلاعات حساب کاربری خود، حتی المقدور
            از صفحه کلید مجازی استفاده نمایید.<br> هرگز اطلاعات حساب کاربری (نام کاربری و کلمه عبور) خود را در اختیار دیگران قرار ندهید.<br> پس از اتمام کار با سامانه، حتما بر روی دکمه خروج از سامانه کلیک نمایید. <br>
        </p>
    </div>

    <div class="box">
        <div class="title">
            ورود به حساب کاربری
        </div>

        <form [formGroup]="loginForm">
            <div class="input-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label for="input">نام کاربری</mat-label>
                    <!-- <input appOskInput="true" matInput type="text" formControlName="username" #usernameInput autofocus> -->
                    <input appOskInput="true" matInput (blur)="blurUsername($event)" type="text" formControlName="username" #usernameInput autofocus>
                    <div class="icon" (click)="showKeyboard = !showKeyboard" >
                        <mat-icon>keyboard</mat-icon>
                    </div>
                </mat-form-field>
            </div>

            <div class="input-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label for="input">کلمه عبور</mat-label>
                    <input appOskInput="true" matInput type="password" (blur)="blurPassword($event)" formControlName="password" [type]=" hide ? 'password' : 'text' " #passwordInput>
                    <!-- <mat-label for="input">گذرواژه</mat-label>
                    <input appOskInput="true" matInput type="password" formControlName="password" [type]=" hide ? 'password' : 'text' " #passwordInput> -->
                    <div class="visibility" (click)="showKeyboard = !showKeyboard">
                        <mat-icon>keyboard</mat-icon>
                    </div>
                    <button mat-icon-button matSuffix (click)=" hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-password]="hide">
                       <mat-icon > {{hide ? 'visibility_off' : 'visibility' }} </mat-icon>
                   </button>

                </mat-form-field>
            </div>

            <div class="input-wrapper">
                <button class="refresh" (click)="getCaptcha()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <img [src]="imageUrl" alt="">
                <input type="number" formControlName="capcha" [ngClass]="(capcha.touched && capcha.invalid || error == '0') ? 'red' : '' " #captchaInput>
            </div>

            <div class="input-wrapper" style="margin-top: 20px;">
                <button class="submit" *ngIf="!getCode" mat-raised-button color="primary" (click)="loginPass()">ورود</button>
            </div>
        </form>

        
        <div class="input-wrapper code" *ngIf="getCode">
            <input type="text" class="code" [(ngModel)]="otp_code" name="name" #name="ngModel" placeholder="رمز عبور یکبار مصرف را وارد کنید" style="margin: 10px 0" required>
            <!-- <input type="text" class="code" [(ngModel)]="otp_code" name="name" #name="ngModel" placeholder="کد ارسال شده را وارد نمایید" style="margin: 10px 0" required> -->
            <button class="submit" mat-raised-button color="primary" (click)="loginCode()">ارسال کد</button>
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                تکمیل نمودن فیلد رمز یک‌بار مصرف الزامی است
            </mat-error>
        </div>

        <div class="error">
            <mat-error *ngIf="error == '0'">
                عبارت امنیتی به درستی وارد نشده است
            </mat-error>
            <mat-error *ngIf="error == '1'">
                نام کاربری یا کلمه عبور به درستی وارد نشده است
            </mat-error>
            <mat-error *ngIf="error == '2'">
                عبارت امنیتی منقضی شده‌است
            </mat-error>
            <mat-error *ngIf="error == '3'">
                کد ورود به درستی وارد نشده‌است
            </mat-error>
            <mat-error *ngIf="username.touched && username.invalid ||  password.touched && password.invalid || capcha.touched && capcha.invalid">
                وارد نمودن هر سه فیلد نام کاربری، کلمه عبور و کلمه امنیتی الزامیست
            </mat-error>
        </div>


        <a class="forget" routerLink="/forget-password">فراموشی کلمه عبور</a>

        <div class="links">
            <a href="">دانلود اپلیکیشن</a>
            <a href="">افتتاح حساب</a>
        </div>
    </div>

    
</div>
<div class="keyboard" [ngClass]="showKeyboard ? 'up' : 'down' ">
    <div class="close" (click)="showKeyboard = false">
        <mat-icon>close</mat-icon>
    </div>
    <app-keyboard></app-keyboard>
</div>
</div>