<main>
    <div class="main">
        <div class="selection">
            <div>one</div>
            <div>two</div>
            <div>three</div>
            <div>four</div>
        </div>
        <div class="table-container">
            <div class="headers">
                <div class="header-item">دیده‌بان</div>
                <div class="header-item">پرتفوی</div>
            </div>
            <div class="table">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container *ngFor="let column of columns" matColumnDef="{{column.columnDef}}">
                            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
                            <td mat-cell *matCellDef="let row"> {{column.cell(row)}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
           
        </div>
    </div>
</main>