@import 'src/styles/fonts';
$dark-purple : #1B1e2e ;
.main{
    width: 100%;
    min-width: 1300px;
    height: 50vh;
    background-color: rgb(35,39,59);
    direction: rtl;
    .selection{
        height: 10%;
        width: 95%;
        margin-right: 5%;
        color: white;
        display: flex;
        flex-direction: row;
    }
    .table-container{
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
        .headers{
            width: 5%;
            height: inherit;
            color: gray;
            display: flex;
            flex-direction: column;
            .header-item{
                width: 100%;
                height: 50%;
                border: 2px solid $dark-purple;
            }
        }
        .table{
            width: 95%;
            height: inherit;
            max-height: 40vh;
            overflow-y: scroll;
            background-color: $dark-purple;
            table{
                width: 100%;
                th{
                    text-align: right;
                }
            }
        }

    }
}