@import 'src/styles/fonts';
$dark-purple : #1B1e2e ;
*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    min-width: 1300px;
    height: 7vh;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
    background-color: $dark-purple;
    border-top: 5px solid #343952;
    a{
        color: gray;
        display: block;
        width: auto;
        height: 6.5vh;
        display: flex;
        align-items: center;
        margin: 0 20px;
    }
    .active{
        color: white;
        border-bottom: 0.5px solid white;
    }
}
.main{
    width: 100%;
    min-width: 1300px;
    height: auto;
    direction: rtl;
}