<div class="header">
    <a routerLink="/messages/surveillance" routerLinkActive="active">پیام‌های ناظر</a>
    <a routerLink="/messages/system" routerLinkActive="active">پیام‌های سیستمی</a>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>