@import './variables.scss';

// @mixin hostStyles() {
//     display: flex;
//     flex-direction: column;
//     background-color: var($--secondary-bg);
//     border: 0.0625rem solid var($--border-color);
//     border-radius: 0.25rem;
//     color: var($--primary-font);
//     margin-bottom: 3.6rem;
//     padding: 3rem;
// }