@import '~@angular/material/theming';
@include mat-core();
@import 'src/styles/mixin';
@import 'src/styles/variables';
@import 'src/styles/fonts';
// Toaster
// regular style toast
@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';


*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  user-select: none;
  font-size: 62.5%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  // @include scrollBarColor(
  //   0.5rem,
  //   var($--primary-bg),
  //   var($--secondary-bg),
  //   0.5rem
  // );
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: 0.5px !important;
}

.snack {
  // background: $red;
  simple-snack-bar.mat-simple-snackbar {
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    font-weight: 600;
  }
}
html, body { height: 100%; }
body { margin: 0 !important; padding: 0 !important; font-family: Roboto, "Helvetica Neue", sans-serif; }




$new-primary: mat-palette($mat-indigo);
$new-accent: mat-palette($mat-pink, A200, A100, A400);
$new-warn: mat-palette($mat-red);
$new-theme: mat-light-theme((
  color: (
    primary: $new-primary,
    accent: $new-accent,
    warn: $new-warn,
  )
));
@include angular-material-theme($new-theme);

.mat-form-field{
  width: 80%;
}
.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  text-align: right !important;
  direction: rtl;
}
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix{
  position: absolute;
  top: 30% !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix{
  text-align: right !important;
}
select.mat-input-element:not(:disabled){
  direction: rtl !important;
}
.mat-form-field-type-mat-native-select.mat-form-field-appearance-outline .mat-form-field-infix::after{
  position: absolute;
  left: 0;
}
.mat-error{
  text-align: right;
}
.mat-select-panel .mat-option , .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  direction: rtl;
  text-align: right;
}
::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}
.mat-dialog-container{
  position: relative;
  padding: 0 !important;
}
.mat-dialog-content{
  max-height: none !important;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell , th{
  height: 30px !important;
}
.mat-row {
  height: 30px;
}
.mat-cell {
  padding: 8px 8px 8px 0 !important;
}
th.mat-header-cell{
  border-bottom-color: rgba(255, 255, 255 , 0.3);
}
td.mat-cell{
  border-bottom-color: rgba(255, 255, 255 , 0.05);
}
dp-date-picker.dp-material .dp-picker-input{
width: unset !important;
}

.mat-checkbox-layout .mat-checkbox-label {
  margin: 0 1rem;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1B1e2e;
}

#toast-container {
  direction: rtl;
}