@import 'variables';

:host {
  display: flex;
  background-color: var($--primary-bg);
  color: #222b45;
  height: 100vh;
  width: 100vw;
}
.route-wrapper {
  // display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  // min-width: 1200px;
}
