@import 'src/styles/fonts';
$dark-purple : #1B1e2e ;
*{
    box-sizing: border-box;
}
.nav{
    width: 100vw;
    min-width: 1300px;
    height: 7vh;
    min-height: 48px;
    background-color: $dark-purple;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;

    .right{
        width: fit-content;
        display: flex;
        flex-direction: row;
    }
    .logo{
        width: auto;
        height: 7vh;
        // max-width: 150px;
        padding: 0 10px;
        border-left: 1px solid #343952;
        img{
            height: inherit;
            width: auto;
        }
    }
    .date{
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 12px;
        padding: 0 10px;
        border-left: 1px solid #343952;
    }
    .menu-icon{
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        cursor: pointer;
        -moz-user-select: none;
        user-select: none;
        border-left: 1px solid #343952;
        color: white;
    }

    .left{
        width: fit-content;
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 10;
        .messages{
            position: relative;
            padding: 0 10px;
            height: inherit;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 10;
            .unseen-count{
                position: absolute;
                top: 5px;
                right: 2px;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: red;
                color: white;
            }
        }
        .index{
            min-width: 260px;
            position: relative;
            padding: 0 20px;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;
            direction: rtl;
            position: relative;
            border-right: 1px solid #343952;
            .red-text{
                background-color: red;
                margin: 0 5px;
                padding: 0 2px;
            }
            .green-text{
                background-color: green;
                margin: 0 5px;
                padding: 0 2px;
            }
            .index-box{
                width: 130%;
                // min-width: max-content;
                height: fit-content;
                background-color: $dark-purple;
                position: absolute;
                top: 7vh;
                left: 0;
                border-top: 2px solid #343952;
                display: none;
                .index-box-item{
                    width: 100%;
                    height: 30px;
                    padding: 0 10px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:hover{
                        background-color: rgba(255, 255, 255 , 0.05);
                    }
                }
            }
            &:hover{
                .index-box{
                    display: block;
                }
            }
            .star{
                font-size: 16px;
                margin-top: 10px;
                cursor: pointer;
            }
            .yellow{
                color:goldenrod;
            }
        }   
        .user-info{
            display: flex;
            flex-direction: row;
            height: inherit;
            align-items: center;
            border-left: 1px solid #343952;
            border-right: 1px solid #343952;
            padding: 0 10px;
            position: relative;
            .user-box{
                width: 100%;
                height: 40px;
                background-color: $dark-purple;
                position: absolute;
                top: 7vh;
                left: 0;
                padding: 0 10px;
                display: none;
                border-top: 2px solid #343952;
            }
            &:hover{
                .user-box{
                    display: block;
                }
            }
            .user-text{
                display: flex;
                flex-direction: column;
                font-size: 12px;
            }
        }     
        .help{
            padding: 0 10px;
            cursor: pointer;
        }
    }
    .transaction {
        height: inherit;
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
    }
    .account {
        height: inherit;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-right: 1px solid #343952;
        .account-item{
            display: flex;
            flex-direction: column;
            margin: 0 10px;
        }
    }
}
.side{
    width: 300px;
    height: 93vh;
    background-color: $dark-purple;
    position: fixed;
    right: 0;
    top: 7.5vh;
    -webkit-box-shadow: -9px 8px 29px -2px rgba(0,0,0,0.59); 
    box-shadow: -9px 8px 29px -2px rgba(44, 44, 44, 0.59);
    transform: translateX(110%);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    direction: rtl;
    z-index: 10;
    .side-item{
        width: 100%;
        height: 7.5%;
        padding:0 5%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        position: relative;
        cursor: pointer;
        &:hover{
            background-color: rgba(255, 255, 255 , 0.05);
        }
    }
    .side-item-accounting , .side-item-portfo{
        height: fit-content;
        width: 150px;
        overflow: hidden;
        position: absolute;
        left: -150px;
        top: 0px;
        background-color: $dark-purple;
        display: none;
        border: 1px solid #343952;
        .side-subitem{
            height: 40px;
            padding-right: 10px;
            line-height: 40px;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255 , 0.05);
            }   
        }
    }
    .accounting{
        &:hover{
            .side-item-accounting{
              display: block;  
            }   
        }
    }
    .portfo{
        &:hover{
            .side-item-portfo{
              display: block;  
            }   
        }
    }
}
.open{
    transform: translateX(0);
}
.messages-container{
    width: 275px;
    height: 93vh;
    position: fixed;
    top: 7vh;
    left: 0;
    background-color: $dark-purple;
    transform: translateY(-120%);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 10;
    border-right: 1px solid #343952;
}
.openMessages{
    transform: translateY(0);
}

////messages

.main{
    width: 100%;
    height: 100%;
    direction: rtl;
    position: relative;
    overflow-y: scroll;
    section{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 3rem;
        margin:1rem 0;
        input {
            width: 96%;
            font-size: 16px;
            background-color: rgba(255, 255, 255 , 0.1);
            border: 1px solid rgba(255, 255, 255 , 0.7);
            outline: none !important;
            color: white;
            padding:0 1%;
            margin: 0 1%;
            &::placeholder{
                font-size: 14px;
                color: gray;
            }
        }
        button{
            display: flex;
            height: inherit;
            align-items: center;
            justify-content: center;
        }
    }
    .header{
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        color: gray;
        position: sticky;
        top: 0;
        user-select: none;
        background-color: $dark-purple;
        background-color: #1B1e2e;

        .header-section{
            width: 50%;
            text-align: center;
            border: 1px solid #343952;
            line-height: 35px;
            cursor: pointer;
            transition: all 200ms ease-in-out;
            &:hover{
                background-color: rgba(255, 255, 255 , 0.05);
            }
        }
        .active-header{
            color: white;
        }
    }
    .body{
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
        .message{
          height: 90px;
          border-bottom: 1px solid #343952;
          padding: 0 5%;
          cursor: pointer;
          .title{
              width: 100%;
              padding: 5px 0;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              text-overflow: ellipsis;
              .lead{
                width: 100%;
                overflow: hidden;
                display: block;
                color: white;  
                text-overflow: ellipsis;
              }
              .date{
                  color: gray;
                  font-size: 12px;
              }
          }
          .msg-body{
              color: gray;
              width: 100%;
              overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .unseen{
            background-color: rgba(255, 255, 255 , 0.05);
            border-right: 4px solid #4f4d71;
        }
    }
  }

.active {
    background-color: rgba(255, 255, 255 , 0.05);
}
.button-container{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $dark-purple;
}

.search{
    position: sticky;
    top: 4rem;
    background-color: $dark-purple;
}
