<nav>
    <div class="nav">
        <div class="right">
           <a class="logo" [routerLink]="['']">
             <img src="../../assets/img/header-logo.png" alt="">
           </a>
            <div class="date">
            <span>{{farsiDate}}</span> 
            <span>{{today | date:'h:mm:ss'}}</span> 
            </div>

            <a class="menu-icon" (click)="showSide = !showSide">
                <mat-icon>menu</mat-icon>
            </a>
         </div>

    <div class="left">
        <div class="index">
           <span>{{faveName}}</span> 
           <span [ngClass]=" (favePercentage > 0) ? 'green-text' : 'red-text' ">
            {{faveValue | number : '.1-2'}}
            ( {{favePercentage | number : '.1-2'}} % )
           </span> 
            {{faveMarketValue | number : '.1-2'}}

            <div class="index-box">
                <div class="index-box-item" *ngFor="let index of allIndexes">
                    <span>{{index.name}}</span> 
                    <span>{{index.value | number : '.1-2'}}</span>
                    <span [ngClass]=" (index.change_percentage >= 0) ? 'green-text' : 'red-text' ">
                        ( {{index.change_percentage | number : '.1-2'}} % )
                    </span> 
                      <span>{{index.trade_value | number : '.1-2'}}</span>  
                      <div (click)="makeFavorite(index.ins_id)">
                          <mat-icon class="star" [ngClass]=" faveId == index.ins_id ? 'yellow' : '' ">star</mat-icon>
                    </div>
                        
                </div>  
            </div>
        </div>

        <div class="account">
            <div class="">موجودی :‌ {{balance | number : '.0-2'}} </div>
            <div class="account-item">
                <div>
                    <span>آزاد:</span>
                    <span> {{available | number : '.0-2'}} </span>
                </div>
                <div>
                    <span>مسدود:</span>
                    <span> {{blocked | number : '.0-2'}} </span>
                </div>
            </div>
            <div class="account-item">
                <div>
                   <span>t1:</span> 
                    <span> {{t1 | number : '.0-2'}} </span>
                </div>
                <div>
                    <span>t2:</span>
                    <span> {{t2 | number : '.0-2'}} </span>
                </div>
            </div>
        </div>

        <div class="user-info">
            <mat-icon style="margin: 0 5px;">person_outline</mat-icon>
            <div class="user-text">
                <span style="margin: 0 5px;"> {{usersName}} </span>
                <span>{{usersCode}}</span>  
            </div>
        </div>
        <div class="transaction">
            <mat-icon (click)="openDialog()">account_balance_wallet</mat-icon>
        </div>
        <div class="messages" (click)="openMessages = !openMessages">
            <mat-icon> mail_outline</mat-icon>
            <span class="unseen-count"> {{unseenCount | number}} </span>
        </div>
        <div class="help">
         <mat-icon>help</mat-icon>   
        </div>
        
    </div>

    

    </div>
       
</nav>

<div class="messages-container" [ngClass]=" openMessages ? 'openMessages' : '' ">
<MOP-messages-side [openMessages]="openMessages" (getUnseen)="getUnseen($event)"></MOP-messages-side>    
</div>


<div class="side" [ngClass]=" showSide ? 'open' : '' " #sideMenu>
    <div class="side-item" [routerLink]="['main']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showSide = false">دیده‌بان بازار</div>
    <div class="side-item">تکنیکال</div>
    <div class="side-item">نقشه بازار</div>
    <div class="side-item">اوراق بدهی</div>
    <div class="side-item">اوراق عرضه اولیه</div>
    <div class="side-item accounting" >حساب‌ داری
        <span><mat-icon>keyboard_arrow_left</mat-icon></span>
        <div class="side-item-accounting">
            <div class="side-subitem">برداشت‌ها</div>
            <div class="side-subitem">واریزها</div>
            <div class="side-subitem">ثبت فیش واریزی نقد</div>
        </div>
    </div>
   
    <div class="side-item">تاریخچه معاملات</div>
    <div class="side-item">تاریخچه سفارشات</div>
    <div class="side-item portfo">پورتفوی
        <span><mat-icon>keyboard_arrow_left</mat-icon></span>
        <div class="side-item-portfo">
            <div class="side-subitem">عملکرد پورتفوی</div>
            <div class="side-subitem">سودهای تقسیمی</div>
            <div class="side-subitem">افزایش سرمایه‌ها</div>
            <div class="side-subitem">تراکنش‌های دستی</div>
            <div class="side-subitem">اطلاعیه‌ها</div>
        </div>
    </div>
    <div class="side-item" [routerLink]="['messages']" routerLinkActive="active"  (click)="showSide = false">پیام‌ها</div>
    <div class="side-item">تغییر کارگزار ناظر</div>
    <div class="side-item">معاملات آفلاین</div>
    <div class="side-item" (click)="logOut()">خروج</div>
</div>

<MOP-notif-system (getUnseen)="getUnseen($event)"></MOP-notif-system>
