<div class="main">
    <div class="box" *ngIf="step == 1">
        <a class="logo" [routerLink]="['/login']">
            <!-- <mat-icon style="margin-bottom: 20px;">image</mat-icon> -->
            <img src="../../assets/img/Center align_01.png" alt="">
        </a>
        <div class="title">
            فراموشی کلمه عبور
        </div>
    <form [formGroup]="loginForm">
      
            <div class="input-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label for="input">نام کاربری</mat-label>
                    <input matInput type="text" formControlName="username" required autofocus>
                    <mat-error> وارد نمودن فیلد نام کاربری الزامیست </mat-error>
                </mat-form-field>   
            </div>

        <div class="input-wrapper">
            <button class="submit" mat-raised-button color="primary" (click)="sendUsername()">ارسال کد</button>
        </div>
        
    </form>
    </div>

    <div class="box" *ngIf="step == 2">
        <a class="logo" [routerLink]="['']">
            <!-- <mat-icon style="margin-bottom: 20px;">image</mat-icon> -->
            <img src="../../assets/img/Center align_01.png" alt="">
        </a>
        <div class="title">
            فراموشی کلمه عبور
        </div>
        <p>
            رمز یکبار مصرف به شماره همراه شما ارسال شده است. در صورتی که رمز یک بار مصرف خود را دریافت ننموده اید با پشتیبانی تماس حاصل فرمایید.
        </p>
    <form [formGroup]="codeForm">

            <div class="input-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label for="input">کد تایید </mat-label>
                    <input matInput type="text" formControlName="code" required autofocus>
                    <mat-error>تکمیل نمودن فیلد رمز یکبار مصرف الزامیست</mat-error>
                </mat-form-field>   
            </div>

        <mat-error class="padding-right" *ngIf="codeError == '4' ">
            رمز یک‌بار مصرف صحیح نمیباشد
        </mat-error>
        <mat-error class="padding-right" *ngIf="codeError == '5' ">
            رمز یک‌بار مصرف شما منقضی گردید
        </mat-error>
        <div class="input-wrapper">
            <button class="submit" mat-raised-button color="primary" (click)="sendCode()" [disabled]="loginForm.invalid">ارسال</button>
        </div>
        
    </form>
    </div>

</div>