.main{
    // direction: rtl;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .box{
        width: 30%;
        min-width: 330px;
        min-height: 70%;
        height: fit-content;
        max-height: 500px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        .title{
            width: 100%;
            text-align: center;
            padding: 20px 0;
        }
        .input-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
        }
        p{
            color: green;
            text-align: center;
            padding: 10px;
        }
    }
}
button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.submit{
    width: 80%;
}
.padding-right{
    padding-right: 10%;
}
.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    img {
        width: 150px;
    }
}