<div class="body" *ngFor="let message of data">
    <header>
        <h2 mat-dialog-title>{{ message.title }}</h2>
        <h5 mat-dialog-title>
            <span> {{getTime(message.datetime)}} ,</span>
            {{persianDate(message.datetime)}} 
        </h5>
    </header>
    
    <main>
        <mat-dialog-content>
            <p>{{ message.body }}</p>
        </mat-dialog-content>
    </main>
    
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>بستن</button>
    </mat-dialog-actions>
</div>