@import 'src/styles/fonts';
header{
    h2{
        display: flex;
        justify-content: flex-end;
    }
    h5 {
        direction: rtl;
        font-family:'BYekan';
    }
}
main{
    p{
        display: flex;
        direction: rtl;
        text-align: justify;
    }
}
.body{
    padding: 30px;
    user-select: text;
    button{
        background-color: #343952;
        color: white;
        outline: none;
        border-radius: 5px;
    }
}