:host {
    text-align: center;
    background-color: #eee;
    position: fixed;
    height: 240px;
    padding-top: 10px;
    width: 100%;
    left: 0;
    bottom: 0px;
    transition: all 250ms ease-in-out;
  }
  
  :host(.shown) {
    bottom: 0;
  }
  
  button {
    width: 40px;
    height: 40px;
    margin: 4px 4px;
    font-size: 19px;
    vertical-align: top;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
  }
  
  button:active {
    background-color: #ccc;
  }
  
  button.special {
    width: 60px;
    background-color: #ccc;
  }
  
  button.special {
    font-size: 13px;
  }
  
  button.special:active {
    background-color: #999;
  }
  
  button.toggled {
    background-color: #555;
    color: #fff;
  }
  
  button.wide {
    width: 80px;
  }
  
  button.spacebar {
    width: 300px;
  }
  