<div>
    <button appKeyboardKey="00"></button>
    <button appKeyboardKey="01"></button>
    <button appKeyboardKey="02"></button>
    <button appKeyboardKey="03"></button>
    <button appKeyboardKey="04"></button>
    <button appKeyboardKey="05"></button>
    <button appKeyboardKey="06"></button>
    <button appKeyboardKey="07"></button>
    <button appKeyboardKey="08"></button>
    <button appKeyboardKey="09"></button>
</div>
<div>
    <button appKeyboardKey="10"></button>
    <button appKeyboardKey="11"></button>
    <button appKeyboardKey="12"></button>
    <button appKeyboardKey="13"></button>
    <button appKeyboardKey="14"></button>
    <button appKeyboardKey="15"></button>
    <button appKeyboardKey="16"></button>
    <button appKeyboardKey="17"></button>
    <button appKeyboardKey="18"></button>
</div>
<div>
    <button class="special" (click)="onShift()" [class.toggled]="keyboard.shift">{{ keyboard.alt ? '#+=' : 'Shift'}}</button>
    <button appKeyboardKey="20"></button>
    <button appKeyboardKey="21"></button>
    <button appKeyboardKey="22"></button>
    <button appKeyboardKey="23"></button>
    <button appKeyboardKey="24"></button>
    <button appKeyboardKey="25"></button>
    <button appKeyboardKey="26"></button>
    <button class="special" (click)="onBackspace()">Del</button>
</div>
<div>
    <button class="special" (click)="onAlt()">{{ keyboard.alt ? 'ABC' : '123'}}</button>
    <button class="spacebar" appKeyboardKey="30"></button>
    <button class="special wide" (click)="onEnter()">Enter</button>
</div>