<div class="main">
    <div class="header">
      <div class="header-section" (click)="selectedHEader = 1; searchVal.value = ''; reloadSearch(searchVal.value) " [ngClass]=" selectedHEader ==1 ? 'active-header' : '' ">پیام‌های ناظر</div>
      <div class="header-section" (click)="selectedHEader = 2; searchVal.value = ''; reloadSearch(searchVal.value) " [ngClass]=" selectedHEader ==2 ? 'active-header' : '' ">پیام‌های سیستمی</div>
    </div>
    <section class="search">
      <input type="text" class="search-box" #searchVal (keyup)="onSearchChange(searchVal.value)" placeholder="  جستجو..." autocomplete="off">
    </section>
<div class="body" *ngIf="selectedHEader == 1">
    <ng-container *ngIf="!showFilterMSG">
      <ng-container *ngFor = "let message of survillanceMessages">
        <div class="message" [ngClass]=" message.seen ? '' : 'unseen' " (click)="unseenMSG(message)">
        <div class="title">
        <span class="lead">{{message.title}}</span>    
        <span class="date">
          <span> {{getTime(message.datetime)}}, </span>
          {{persianDate(message.datetime)}}
        </span>   
        </div> 
            <div class="msg-body">
            {{message.body}}   
            </div>      
        </div>    
      </ng-container>
    </ng-container>
    <ng-container *ngIf="showFilterMSG">
      <ng-container *ngFor = "let message of messageFilterSurvill">
        <div class="message" [ngClass]=" message.seen ? '' : 'unseen' " (click)="unseenMSG(message)">
        <div class="title">
        <span class="lead">{{message.title}}</span>    
        <span class="date">
          <span> {{getTime(message.datetime)}}, </span>
          {{persianDate(message.datetime)}}
        </span>   
        </div> 
            <div class="msg-body">
            {{message.body}}   
            </div>      
        </div>    
      </ng-container>
    </ng-container>
   
</div>

<div class="body" *ngIf="selectedHEader == 2">
  <ng-container *ngIf="!showFilterSystem">
    <ng-container *ngFor = "let message of systemMessages" >
      <div class="message" [ngClass]=" message.seen ? '' : 'unseen' " (click)="unseenMSG(message)">
        <div class="title">
      <span class="lead">{{message.title}}</span>    
      <span class="date">
        <span> {{getTime(message.datetime)}}, </span>
      {{persianDate(message.datetime)}}</span>   
        </div> 
          <div class="msg-body">
           {{message.body}}   
          </div>      
      </div>    
    </ng-container>
  </ng-container>
  <ng-container *ngIf="showFilterSystem">
    <ng-container *ngFor = "let message of messageFilterSystem" >
      <div class="message" [ngClass]=" message.seen ? '' : 'unseen' " (click)="unseenMSG(message)">
        <div class="title">
      <span class="lead">{{message.title}}</span>    
      <span class="date">
        <span> {{getTime(message.datetime)}}, </span>
          {{persianDate(message.datetime)}}
      </span>   
        </div> 
          <div class="msg-body">
           {{message.body}}   
          </div>      
      </div>    
    </ng-container>
  </ng-container>
    
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" type="button" (click)="seenAll()"> همه پیام‌ها را دیدم</button>
  </div>
</div>