// .main > .header > section {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 2rem;
//     background-color: red;
    .search-box {
        margin-top: 1rem;
        width: 100%;
    }
// }
