@import 'src/styles/fonts';
section{
    display: flex;   
    div {
        width: 40%;
        height: 30rem;
        background-color: white;
        position: absolute;
        margin-left: 30%;
        z-index: 1000;
        top: 20%;
        border-radius: 5px;
        header {
            display: flex;
            flex-direction: column;
            h2 {
                display: flex;
                justify-content: flex-end;
                padding: 3rem 3rem 0 3rem;
            }
            h6 {
                display: flex;
                justify-content: flex-end;
                padding: 0rem 3rem 0 0;
            }
        }
        main {
            p {
                display: flex;
                direction: rtl;
                padding: 0 3rem;
                text-align: justify;
            }
        }
        footer {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            margin-bottom: 2rem;
            display: flex;
            justify-content: space-between;
            button {
                font-size: 2rem;
                border: none;
                background-color: #1B1e2e;
                color: white;
                margin-left: 3rem;
            }
            mat-checkbox {
                direction: rtl;
                margin-right: 2.5rem;
                font-size: 1.5rem;
            }
        }

    }
}
.notif-display {
    width: 100vw;
    height: 100vh;
    background-color: #1b1e2ea6;
    z-index: 999;
    position: absolute;
}