<section *ngIf="showNotifAll" [class.notif-display]= "showNotifAll == true">
        <div *ngFor="let notif of notifSystem">
            <header>
                <h2>{{ notif.title }}</h2>
                <h6>
                    {{persianDate(notif.datetime)}} , 
                    {{getTime(notif.datetime)}}
                </h6>
            </header>

            <main>
                <p>{{notif.body}}</p>
            </main>

            <footer>
                <button mat-button (click)="displayBox(notif, checked)">بستن</button>
                <mat-checkbox class="example-margin" [(ngModel)]="checked">دوباره یادآوری کن</mat-checkbox>
            </footer>

        </div>
     
</section>




