@import 'src/styles/fonts';
$dark-purple : #1B1e2e ;
*{
    box-sizing: border-box;
}
.filters{
    width: 90%;
    margin-right: 5%;
    height: 8vh;
    padding: 0 1%;
    background-color: $dark-purple;
    margin-top: 1.5vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table{
    width: 100%;
    // height: 70vh;
    background-color: $dark-purple;
    border-radius: 5px;
    direction: rtl;
    border-radius: 5px;
    border-collapse: collapse;
    user-select: text;
    .msg-box{
        width: 90%;
        margin-right: 5%;
        height: auto;
        background-color: rgba(255, 255, 255 , 0.1);
        padding: 1%;
        .title{
            color: rgba(255, 255, 255 , 0.8);
            font-size: 16px;
        }
        .body{
            color: gray;
            font-size: 15px;
        }
    }
    tr{
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255 ,0.05);
    }
    th{
        text-align: right;
        color: gray;
        height: 30px !important;
        position: sticky;
        background-color: $dark-purple;
        top: 0;
        border-bottom: 1px solid white;
        // padding-right: 1%;
    }
    td{
        color: white;
        height: 30px;
        padding: none !important;
    }
    .cutText{
        height: 40px;
        line-height: 30px;
        width: 30vw;
        min-width: 300px;
        margin: 0 !important;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.table-container{
    width: 90%;
    margin-right: 5%;
    height: 70vh;
    margin-top: 1vh;
    overflow-y: scroll;
    position: relative;
    background-color: $dark-purple;
}
.pagination{
    width: 90%;
    height: 4vh;
    background-color: $dark-purple;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin-right: 5%;
    border-top: 1px solid rgba(255, 255, 255 , 0.3);
    
}
.arrow{
    cursor: pointer;
    margin: 5px 5px 0 5px;
    transition: all 200ms ease-in-out;
}
.show{
    display: table-row;
}
.hide{
    display: none;
}
.turn{
    transform: rotate(180deg);
}
input{
    width: 90%;
}
form{
    display: flex;
    .input-wrapper{
        margin: 0 10px;
        height: inherit;
        display: flex;
        align-items: center;
    }
}
.search-form{
    width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 0 2%;
   height: 30px;
   input[type = "text"]{
    width: 30% !important;
    height: 80%;
    }
    button{
        height: 80% !important;
        display: flex;
    align-items: center;
    }
}
.open-msg{
    background-color: rgba(255, 255, 255 , 0.2) !important;
}
.stick{
    position: sticky;
    top: 30px; 
    background-color: $dark-purple;
}
.unseen{
    background-color: rgba(63, 81, 181 , 0.15);
}