header{
    h2{
        display: flex;
        justify-content: flex-end;
    }
}

main {
    position: relative;
    padding: 5%;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        direction: rtl;
        li:first-child {
            display: flex;
            justify-content: center;
            width: 50%;
            padding: .5rem;
            cursor: pointer;
            border-radius: 5px;
        }
        li:last-child {
            display: flex;
            justify-content: center;
            width: 50%;
            padding: .5rem;
            cursor: pointer;
            border-radius: 5px;
        }
        .active {
            background-color: #1B1e2e;
            color: white;
        }
    }
}

form{
    .input-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            cursor: pointer;
            width: 80%;
            background-color: #343952;
            color: white;
            outline: none;
            border-radius: 5px;
        }
    }
    input{
        direction: rtl;
        text-align: right;
    }
}

.exit{
    position: absolute;
    top: 0;
    left: 0;
}