<mat-dialog-content>
<header>
    <!-- <h2 mat-dialog-title>برداشت و واریز</h2> -->
</header>

<main>

        
        <ul>
            <li (click)="showItem = 'harvest'" [ngClass]="{'active': showItem == 'harvest'}">برداشت</li>
            <li (click)="showItem = 'deposit'" [ngClass]="{'active': showItem == 'deposit'}">واریز</li>
        </ul>

        <section *ngIf="showItem == 'harvest'">
            <div class="harvest">
                <form  [formGroup]="withdrawForm" action="withdraw()">

                    <div class="input-wrapper">
                        <mat-form-field appearance="fill">
                            <mat-label>انتخاب حساب</mat-label>
                            <mat-select formControlName="bank">
                                <ng-container *ngFor="let bank of banks">
                                    <mat-option *ngIf="bank?.status == 0" [value]="bank?.id">
                                    <span>{{bank?.bank_name}}</span> 
                                    <span style="margin: 0 10px;"> {{bank?.account_number}} </span>
                                    </mat-option>   
                                </ng-container>
                            </mat-select>
                            <mat-error>انتخاب حساب مقصد الزامیست</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="input-wrapper">
                        <mat-form-field appearance="fill">
                            <mat-label>انتخاب تاریخ</mat-label>
                            <mat-select formControlName="date">
                                <ng-container *ngFor="let one of dates">
                                    <mat-option  [value]="one?.date">
                                    <span>تاریخ:</span>
                                    <span>{{one?.date}}</span> 
                                    <span style="margin-right:10px ;">مقدار قابل برداشت:</span>
                                    <span style="margin: 0 10px;"> {{one?.max_amount}} </span>
                                    </mat-option>   
                                </ng-container>
                            </mat-select>
                            <mat-error>انتخاب تاریخ برداشت الزامیست</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="input-wrapper">
                        <mat-form-field appearance="fill">
                            <mat-label for="input" >مقدار</mat-label>
                            <input  matInput  type="number" formControlName="amount" [autofocus]>
                            <mat-error>تکمیل نمودن فیلد مبلغ الزامیست</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="input-wrapper">
                        <mat-form-field appearance="fill">
                            <mat-label for="textarea" >توضیحات</mat-label>
                            <textarea matInput id="" cols="30" rows="5" formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                    
                    <div class="input-wrapper">
                     <button type="submit" (click)="withdraw()">ارسال درخواست برداشت وجه</button>   
                    </div>
                    
                </form>
            </div>
        </section>
        <section *ngIf=" showItem == 'deposit'">
            <div class="deposit" [ngClass.active]="!displayBox">
                <p>deposit</p>
            </div>
        </section>

      <button class="exit" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>  
</main>
</mat-dialog-content>